@import "media-properties.css";

* {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	font-weight: bold;
}

html, body {
    /* Deleting horizontal scroll */
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
/* general properties */


.maincontainer {
	width: 100vw;
}

.section {
	background-color: #D1CBC1;
}

.main-section-container {
	background:url(img/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 155px 0px 355px 0px;	

}

.main-section-inner {
	display: flex;
	color: white;
	margin: 0px 110px 0px 110px;
}

.main-section-title {
	margin: 200px 110px 55px 110px;
	color: white;
	font-size: 72px;
}

.header {
	display: flex;
	justify-content: space-between;
	margin:  0px 155px 0px 155px;
	align-items: center;
}

.logo__header {
	width: 75px;
	height: 75px;
	
}
.infoblock__header {	
	display: flex;
}

.infoblock__inner {
	font-weight: bolder;
	font-size: 18px;
}

.infoblock__inner:not(:last-child) {
	margin-right: 45px;
}

.column-section-container {
	display: flex;
	justify-content: center;
	margin-top: 55px;

}

.column-inner-image {
	display: flex;
	width: 300px;
	height: 250px;
}
.column-inner-title {
	font-size: 25px;
	font-weight: bolder;
	margin-top: 20px
}

.column-inner-text {
	margin: 20px 0px 20px 0px;
}

.column-inner-link, .column-inner-link:link, .column-inner-link:visited {
	letter-spacing: 1.5px;
	text-decoration: underline;
	text-underline-position: under;

}

.column-inner-link:hover {
	letter-spacing: 2px;
	font-size: 17px;
}
.learnmore-properties, .learnmore-properties:link, .learnmore-properties:visited {
	text-decoration-color: red;
	color: black;
}
/* RATE SECTION */
.rate-section-container {
 	display:flex;
 	justify-content: center;
 	flex-direction: row;
 	margin-top: 50px;
 	width: 100%;
}

.rate-section-image {
	display: flex;
	background-image: url(img/stars.jpg);
	background-repeat: no-repeat;	
	background-size: auto;
	background-attachment: fixed;
    height: 340px;
    width: 565px;
	margin-right: 50px;
}

.rate-section-container-second {
	display:flex;
 	margin-top: 50px;
 	width: 100%;
}

.rate-section-uppercontainer {
	display: flex;


}

.rate-section-lowercontainer {
	display: flex;
	flex-direction: row;
	padding-bottom: 150px;
}

.rate-section-image-second {
	display: flex;
	background-image: url(img/like.jpg);
	background-repeat: no-repeat;	
    height: 340px;
    width: 565px;
    margin-left: 65px;
}

.copyright-container {
	display: flex;
	justify-content: center;
	background-color: grey;
	height: 75px;
	width:100%;
}

.copyright-container-label {
	color: #ffff
}

.rate-section-container-second {
 	display:flex;
 	justify-content: center;
 	margin-top: 50px;
 	width: 100%;
}
/* FORM SECTION */

.center {
	max-width: 800px;
	max-height: 600px;
	padding: 50px 50px;
	background: #fff;
	border-radius: 10px;
}

.center h1 {
	  font-size: 2em;
	  border-left: 5px solid dodgerblue;
	  padding: 10px;
	  padding-right: 125px ;
	  color: #000;
	  letter-spacing: 5px;
	  margin-bottom: 60px;
	  font-weight: bold;
	  padding-left: 10px;
}

.center-title p {
	margin-top: 25px;
}

.center .inputbox {
	  position: relative;
	  width: 300px;
	  height: 50px;
	  margin-bottom: 50px;
}

.center .inputbox input {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  border: 2px solid #000;
	  outline: none;
	  background: none;
	  padding: 10px;
	  border-radius: 10px;
	  font-size: 1.2em;
}

.center .inputbox:last-child {
  	margin-bottom: 0;
}

.center .inputbox span {
	  position: absolute;
	  top: 14px;
	  left: 20px;
	  font-size: 1em;
	  transition: 0.6s;
	  font-family: sans-serif;
}

.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
	  transform: translateX(-13px) translateY(-35px);
	  font-size: 1em;
}

.center .inputbox [type="button"] {
	  width: 50%;
	  background: dodgerblue;
	  color: #fff;
	  border: #fff;
}

.center .inputbox:hover [type="button"] {
  	background: linear-gradient(45deg, greenyellow, dodgerblue);
}

.center a {
	display: flex;
	justify-content: right;
	padding: 0px 0px 0px 0px;
}

.form-section-container {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: all 0.3s ease-in-out;
	

}

.open {
	display: flex;
}


.formbutton {
	position: fixed;
	top: 0;
	right:0;
	bottom: 0;
}